<br> 
<h1> Admin Dashboard </h1>
<br> 
<h2>EDIT SLIDER</h2>
slider images looped here 
<h2>EDIT ROSTER</h2>
Roster images looped here
<h2>EDIT BACKGROUND IMAGES</h2>
Backgound images looped here 
<br>
<h3>BACKGROUND 1</h3>
<h3>BACKGROUND 2</h3> 